/* reset common css */
* {
	padding: 0;
	box-sizing: border-box;
	list-style: none;
}
img {
	display: block;
}

body {
	background-color: #e0e0e0;
	//overflow: hidden;
}
body,
ul,
h1,
h2,
h3,
h4,
h5,
h6,
p {
	margin: 0;
	padding: 0;
}

ul {
	list-style: none;
}
a {
	text-decoration: none;
}
table,
th,
td {
	border-collapse: collapse;
	border: 1px solid;
}
input,
button {
	outline: none;
	border: none;
	background-color: transparent;
}

i {
	display: inline-block;
}

body > #navBar {
	margin: 0 auto;
	display: flex;
	height: 100px;
	width: 100vw;
	justify-content: space-around;
	flex-wrap: nowrap;
	align-items: center;
	background-color: #acc1db;
	position: fixed;
	top: 0px;
	z-index: 100;

	> .logo {
		flex: 1;
		display: flex;
		align-items: center;
		justify-content: flex-end;
		margin-right: 10px;
		cursor: pointer;
		> img {
			width: 50px;
			padding: 5px;
		}
	}

	> .searchBar {
		flex: 1;
		position: relative;
		width: 300px;
		border: 1px solid rgb(26, 26, 24);
		border-radius: 80px;

		color: black;
		> input {
			position: relative;
			left: 15px;
			width: 75%;
			height: 50px;
			font-size: 16px;

			padding: 10px;
		}

		> img {
			position: absolute;
			height: 25px;
			width: 25px;
			top: 10px;
			right: 20px;
		}
	}

	> ul {
		flex: 2;
		display: flex;
		align-items: center;
		> li {
			padding: 10px 20px;
			width: 150px;

			height: auto;
			cursor: pointer;
			&:last-child {
				display: flex;
				align-items: center;
				> img {
					width: 25px;
					height: 25px;
				}
			}
		}
	}
}

body > .hidebox {
	width: 50vw;
	height: 80px;
	margin: 0 auto;
}
.shopCounter {
	margin-left: 4px;
	background-color: rgb(196, 31, 31);

	width: 20px;
	height: 20px;
	text-align: center;
	color: whitesmoke;
	border-radius: 50%;
	font-size: 18px;
}

main > .time {
	width: 100%;
	background-color: rgb(56, 57, 58);

	padding: 10px;
	> div {
		padding: 10px;

		letter-spacing: 0.2rem;
		font-size: 1rem;
		background-image: -webkit-linear-gradient(left, #147b96, #e6d205 25%, #147b96 50%, #e6d205 75%, #147b96);
		-webkit-text-fill-color: transparent;
		-webkit-background-clip: text;
		-webkit-background-size: 200% 100%;
	}
}

body > main {
	background-color: rgb(227, 231, 230);
	margin: auto;
	padding: 20px;
	min-width: 868px;
	max-width: 1400px;
	//width: 1200px;
	> .book-container {
		width: 100%;
		> #root {
			display: flex;
			flex-wrap: wrap;
			width: 100%;
			justify-content: center;
			> li {
				width: 250px;
				height: auto;
				margin: 10px;
				background-color: rgb(226, 226, 214);
				padding: 10px;
				border-radius: 8px;
				> img {
					width: 230px;
					height: 300px;
					border-radius: 8px;
				}
				> .div-flex {
					display: flex;
					width: 100%;
					flex-wrap: no-wrap;
					justify-content: start;
				}
				> div {
					font-size: 16px;
					.hideToPoint {
						text-overflow: ellipsis;
						overflow: hidden;
						white-space: nowrap;
						font-size: 14px;
					}
					> h4 {
						padding: 5px 10px;
					}
					> P {
						padding: 5px 10px;
					}
					> button {
						background-color: #acc1db;
						padding: 5px 10px;
						margin: 10px 10px 5px 5px;
						border-radius: 8px;
					}
				}
				> .button-flex {
					display: flex;
					width: 100%;
					justify-content: space-between;
				}
			}
		}
	}
}

.blur {
	filter: blur(10px);
}

body > main > .cat {
	margin: 10px 20px;
	display: flex;
	justify-content: space-between;
}

body > main > .detail {
	position: fixed;
	top: 21%;
	left: 50%;
	transform: translate(-50%);
	background-color: #dbca86;
	font-size: 18px;
	width: 90%;
	height: 70%;
	overflow: scroll;

	.upper {
		display: flex;
		justify-content: space-between;
		> img {
			width: 300px;
			padding: 20px;
		}
		.book-info {
			padding: 20px 0;
			span {
				display: inline-block;
				padding: 10px 10px 0 0;
			}
			button {
				border: 1px solid rgb(148, 134, 109);
				padding: 10px 15px;
			}
			input {
				text-align: center;
				width: 50px;
				border: 1px solid rgb(148, 134, 109);
				padding: 10px 0;
			}
			.addCart,
			.addReview {
				margin-top: 10px;
				color: #e1e1e1;
				background-color: #1f1d1d;
				font-size: 20px;
			}
		}
		.closeTag {
			width: 20px;
			height: 20px;
			position: relative;
			top: 5px;
			right: 5px;

			> img {
				width: 100%;
				height: 100%;
			}
		}
	}
	.down {
		padding: 5px 10px;
		// .rating {
		// 	//display: flex;
		// 	align-items: center;
		// 	justify-content: center;
		// }
	}
}

.showing {
	display: none;
}

.noShowCart {
	display: none;
}

main > .shoppingCart {
	position: fixed;
	top: 21%;
	left: 50%;
	transform: translate(-50%);
	background-color: #cfc6a1;
	overflow: scroll;
	width: 90%;
	height: 75%;
	padding: 10px;
	font-size: 18px;
	> #topCart {
		display: flex;
		justify-content: space-between;
		> img {
			width: 30px;
			height: 30px;
		}
	}
	> p {
		margin-bottom: 10px;
	}
	table {
		padding: 10px;
		text-align: center;
		tr {
			padding: 10px;
			input {
				width: 50px;
				text-align: center;
			}
			th,
			td {
				padding: 10px;
			}
			th:nth-child(2),
			td:nth-child(2) {
				width: 400px;
			}
			button {
				background-color: #1f1d1d;
				color: aliceblue;
				padding: 10px;
			}
			span {
				padding: 10px;
			}
		}
	}
	#confirmOrder {
		position: relative;
		left: 200px;
		background-color: #1f1d1d;
		padding: 20px;
		border-radius: 8px;
		color: #acc1db;
		font-size: 18px;
		cursor: pointer;
	}
}

main > .reviewInputPage {
	position: fixed;
	top: 30%;
	z-index: 100;
	background-color: #acc1db;
	left: 50%;
	transform: translate(-50%);
	width: 70%;
	padding: 10px;
	h3 {
		padding: 20px;
	}
	> div {
		display: flex;
		justify-content: space-between;
	}
	form {
		padding: 20px;
		> button {
			background-color: #1f1d1d;
			color: whitesmoke;
			padding: 10px;
			border-radius: 5px;
			margin-top: 20px;
		}
	}
	#review {
		resize: none;
		padding: 10px;
		width: 400px;
		height: 200px;
	}
}

footer {
	width: 1200px;
	margin: 0 auto;
	text-align: center;
	padding: 20px;
	background-color: #1f1d1d;
	color: #e0e0e0;
	font-size: 20px;
}
